/* Control the default padding, marging and border-box */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Times New Roman", Times, serif;
} 
.animation-div {
  width: 100%;
  height: 100vh;
  z-index: -2;
  position: relative;
}
.full-width {
  width: 100vw;
}
.animation {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
}
.page-b {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 3;
}
.scrow {
  background-color: #000;
}

.bold {
  font-weight: bold;
}

.hover:hover {
  font-size: 12px;
}
.dev-dots {
  display: flex;
  margin-top: 80px;
}
.span1 {
  background-color: #f00;
  margin: 5px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.span2 {
  background-color: yellow;
  margin: 5px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.span3 {
  background-color: green;
  margin: 5px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
/* animated text */
.aboutW {
  color: transparent;
  -webkit-text-stroke: 1px white;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 10px;
}
.aboutB {
  color: white;
  font-size: 2rem;
  font-size: bold;
  margin-right: 10px;
}

.img1 {
  width: 60%;
}

.aboutt {
  background-color: #cfc19d;
}

/* carousel control */
.img {
  width: 200px;
  border-radius: 50%;
}
.comment {
  font-size: 1.2rem;
}

.img2-container {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
.img2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px;
  border: 5px solid transparent;
  border-top: 5px solid #00f0ff;
  animation: spin 3s linear infinite, glow 3s ease-in-out infinite;
  align-items: center;
  box-shadow: 0 0 10px #00f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.star-color {
  color: gold;
}
.carow {
  border-radius: 8px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes glow {
  0% {
    box-shadow: 0 0 5px #00f0ff, 0 0 10px #00f0ff;
    border-top-color: #ff00ff;
  }
  25% {
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
    border-top-color: #00ffff
  }
  50% {
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
    border-top-color: #00ff00
  }
  75% {
    box-shadow: 0 0 10px #ff9900, 0 0 20px #ff9900;
    border-top-color: #ff9900
  }
  100% {
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
    border-top-color: #ff00ff
  }
}
.img2:hover {
  animation-play-state: paused;
  transform: scale(1.1);
}

.link {
  text-decoration: none;
}
.certificate {
  width: 100%;
}
.awardPlacement {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.hello {
  color: "red";
}
.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial span {
  background-color: #f00;
  width: 50px;
  height: 2px;
}
.testimonial h5 {
  color: #fff;
  letter-spacing: 3px;
  font-style: italic;
  margin: 20px 10px;
}

/* small screen size */
@media (max-width: 750px) {
 
  .carow {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  .cam1, .cam3 {
    width: 50%;
    z-index: -3;
  }
  .cam2 {
    width: 90%;
    height: 60%;
    margin-left: 15px;
    margin-top: 20px;
  }
  .star-color {
    font-size: 15px;
  }
  .cauro-text {
    font-size: 12px;
  }
}

/* large screen */
@media (min-width: 750px) {
  .carow {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100%;
  }
}